<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Laura's Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  </head>


  <body>
    <div class = "bee-logo-header">
      <img src="static/images/Beee(1).png" style='max-width:100px;max-height:100px;'>
    </div>
    {% for post in posts %}
      <div class = "post">
        <h3><a href="/{{post.slug}}">{{ post.title }}</a></h3>
        <h5>{{post.topic}}  |  {{ post.published_date }}</h5>
        <p>{{ post.text | linebreaksbr | truncatechars:250 }}</p>
        </br>
      </div>
    {% endfor %}

    <div class = "s-m-links">
      <a href="https://www.facebook.com/laura.craig.98031"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/loz_writes/?hl=en"><i class="fab fa-instagram"></i></a>
    </div>

    <div class = "pagination">
      <span class="step-links">
        {%if posts.has_previous %}
          <a href="?page=1"> &laquo;first</a>
          <a href="?page{{posts.previous_page_number}}">previous</a>
          {% endif %}

          <span class="current">
            {{ posts.number }} of {{ posts.paginator.num_pages }}
          </span>

          {% if posts.has_next %}
          <a href="?page={{posts.next_page_number }}">next</a>
          <a href="?page={{posts.paginator.num_pages}}">last&raquo;</a>
          {% endif %}
        </span>
    </div>
  </body>
</html>
